@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">ACMEv2</h1>
    <p>This is a test application for testing <strong>ACMEv2</strong> with <strong>Kestrel</strong> Server in ASP.NetCore</p>
</div>
